body {
    margin: 0;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
    overflow: hidden;
}

@media (max-width: 720px) {
    .hide-mobile {
        display: none !important;
    }
}

@media (min-width: 720px) {
    .hide-desktop {
        display: none !important;
    }
}
